* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align:center
}

.square {
    height: 300px;
    width: 310px;
    margin: 10px;
    display: inline-block
}
